<table dir="ltr" border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><!--msnavigation--><td valign="top">
<font face="Verdana" size="2"><b><a href="#" class="close">
<font color="#008000">Back</font></a></b></font>
<p align="center"><b><font face="Arial" color="#008000" size="4">Lou Tompkins
All Star Baseball</font></b></p>
<p align="center"><b><font face="Arial" size="3" color="#008000">Schedule, Scores and&nbsp;Record for  Winchester 
 &nbsp;C Division </font></b></p>

<div align="center">
  <center>
  <table width="260">
    <tbody>
      
      <tr>
        <td width="40"><font face="Arial" size="3" color="#008000"><b>Wins:&nbsp;&nbsp;</b></font></td>
        <td width="40">
          <p align="center"><font face="Arial" size="3" color="#008000"><b>
      6</b></font></p>
        </td>
        <td width="58"><font face="Arial" size="3" color="#008000"><b>Losses:&nbsp;&nbsp;</b></font></td>
        <td width="40"><font face="Arial" size="3" color="#008000"><b>
    13</b></font></td>
        <td width="42"><font face="Arial" size="3" color="#008000"><b>Ties:&nbsp;</b></font></td>
        <td width="40"><font face="Arial" size="3" color="#008000"><b>
    1</b></font></td>
      </tr>
      
    </tbody>
  </table>
  </center>
</div>

<div align="center">
  <center>
  <table width="905" border="1" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <td width="40" align="center"><b>
    <font face="Arial" size="2">ID</font></b></td>
        <td width="40" align="center"><b>
    <font face="Arial" size="2">Day</font></b></td>
        <td width="75" align="center"><b>
    <font face="Arial" size="2">Date</font></b></td>
        <td width="75" align="center"><b>
    <font face="Arial" size="2">Time</font></b></td>
        <td width="135" align="center"><b>
    <font face="Arial" size="2">Visitor</font></b></td>
        <td width="30" align="center"><b>
    <font face="Arial" size="2">Score</font></b></td>
        <td width="135" align="center"><b>
    <font face="Arial" size="2">Home</font></b></td>
        <td width="30" align="center"><b>
    <font face="Arial" size="2">Score</font></b></td>
        <td width="90" align="center"><b>
    <font face="Arial" size="2">Field</font></b></td>
        <td width="105" align="center"><b>
    <font face="Arial" size="2">Status</font></b></td>
    <td width="75" align="center"><b>
    <font face="Arial" size="2">Last Edit</font></b></td>
    <td width="75" align="center"><b>
    <font face="Arial" size="2">Score Entered</font></b></td>

    </tr>
    </thead>
    <tbody>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3812&amp;division=C">
      <font color="#000000">
      3812</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sat</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3812&amp;Division=C">
      <font color="#000000">
      6/22/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3812&amp;team=Parkway">
      <font color="#000000">
      Parkway</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3812&amp;team=Winchester">
      <font color="#000000">
      Winchester</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      11</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      McDonald</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6/22/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3820&amp;division=C">
      <font color="#000000">
      3820</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sun</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3820&amp;Division=C">
      <font color="#000000">
      6/23/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3820&amp;team=Winchester">
      <font color="#000000">
      Winchester</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      4</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3820&amp;team=Groton">
      <font color="#000000">
      Groton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Town Field</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6/23/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3824&amp;division=C">
      <font color="#000000">
      3824</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Thu</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3824&amp;Division=C">
      <font color="#000000">
      6/27/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:45 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3824&amp;team=Winchester">
      <font color="#000000">
      Winchester</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      4</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3824&amp;team=Sudbury">
      <font color="#000000">
      Sudbury</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      1</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Haskell</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6/27/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3839&amp;division=C">
      <font color="#000000">
      3839</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sun</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3839&amp;Division=C">
      <font color="#000000">
      6/30/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3839&amp;team=Parkway">
      <font color="#000000">
      Parkway</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      1</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3839&amp;team=Winchester">
      <font color="#000000">
      Winchester</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Skillings</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      field change</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6/30/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6/30/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3856&amp;division=C">
      <font color="#000000">
      3856</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sun</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3856&amp;Division=C">
      <font color="#000000">
      7/7/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3856&amp;team=Winchester">
      <font color="#000000">
      Winchester</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      2</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3856&amp;team=Cambridge">
      <font color="#000000">
      Cambridge</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      10</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      St Peters</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/7/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3858&amp;division=C">
      <font color="#000000">
      3858</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Thu</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3858&amp;Division=C">
      <font color="#000000">
      7/11/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:45 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3858&amp;team=Marlboro">
      <font color="#000000">
      Marlboro</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3858&amp;team=Winchester">
      <font color="#000000">
      Winchester</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      2</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      McDonald</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/11/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3865&amp;division=C">
      <font color="#000000">
      3865</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sat</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3865&amp;Division=C">
      <font color="#000000">
      7/13/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3865&amp;team=Winchester">
      <font color="#000000">
      Winchester</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3865&amp;team=Medford">
      <font color="#000000">
      Medford</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      4</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Morrison</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/13/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3873&amp;division=C">
      <font color="#000000">
      3873</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sun</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3873&amp;Division=C">
      <font color="#000000">
      7/14/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3873&amp;team=Winchester">
      <font color="#000000">
      Winchester</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      2</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3873&amp;team=Everett">
      <font color="#000000">
      Everett</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      18</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Florence St Park</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/14/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3882&amp;division=C">
      <font color="#000000">
      3882</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Thu</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3882&amp;Division=C">
      <font color="#000000">
      7/18/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:45 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3882&amp;team=Winchester">
      <font color="#000000">
      Winchester</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      0</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3882&amp;team=Marlboro">
      <font color="#000000">
      Marlboro</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      2</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Lower Stevens</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      field change</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/15/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/18/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3893&amp;division=C">
      <font color="#000000">
      3893</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sun</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3893&amp;Division=C">
      <font color="#000000">
      7/21/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3893&amp;team=Winchester">
      <font color="#000000">
      Winchester</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      2</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3893&amp;team=Framingham">
      <font color="#000000">
      Framingham</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      14</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Long Field</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/21/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3807&amp;division=C">
      <font color="#000000">
      3807</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Wed</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3807&amp;Division=C">
      <font color="#000000">
      7/24/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:45 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3807&amp;team=Winchester">
      <font color="#000000">
      Winchester</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3807&amp;team=Newton">
      <font color="#000000">
      Newton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      newton south hs, NEW FIELD</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Date/Time Change</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/24/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/24/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3908&amp;division=C">
      <font color="#000000">
      3908</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sat</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3908&amp;Division=C">
      <font color="#000000">
      7/27/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3908&amp;team=Winchester">
      <font color="#000000">
      Winchester</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      13</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3908&amp;team=Wakefield">
      <font color="#000000">
      Wakefield</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Walsh</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/27/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3917&amp;division=C">
      <font color="#000000">
      3917</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sun</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3917&amp;Division=C">
      <font color="#000000">
      7/28/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3917&amp;team=Melrose">
      <font color="#000000">
      Melrose</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3917&amp;team=Winchester">
      <font color="#000000">
      Winchester</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      11</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      McDonald</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/28/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3835&amp;division=C">
      <font color="#000000">
      3835</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sun</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3835&amp;Division=C">
      <font color="#000000">
      7/28/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:45 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3835&amp;team=Everett">
      <font color="#000000">
      Everett</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3835&amp;team=Winchester">
      <font color="#000000">
      Winchester</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      1</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      McDonald</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Date/Time Change</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/24/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/28/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3846&amp;division=C">
      <font color="#000000">
      3846</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Wed</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3846&amp;Division=C">
      <font color="#000000">
      7/31/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:30 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3846&amp;team=Cambridge">
      <font color="#000000">
      Cambridge</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      4</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3846&amp;team=Winchester">
      <font color="#000000">
      Winchester</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      4</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      McDonald</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Date/Time Change</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/29/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/31/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3922&amp;division=C">
      <font color="#000000">
      3922</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Thu</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3922&amp;Division=C">
      <font color="#000000">
      8/1/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:30 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3922&amp;team=Belmont">
      <font color="#000000">
      Belmont</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      11</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3922&amp;team=Winchester">
      <font color="#000000">
      Winchester</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      McDonald</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8/2/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3899&amp;division=C">
      <font color="#000000">
      3899</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Fri</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3899&amp;Division=C">
      <font color="#000000">
      8/2/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:30 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3899&amp;team=Groton">
      <font color="#000000">
      Groton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3899&amp;team=Winchester">
      <font color="#000000">
      Winchester</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      0</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      McDonald</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Date/Time Change</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/29/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8/3/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3932&amp;division=C">
      <font color="#000000">
      3932</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sat</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3932&amp;Division=C">
      <font color="#000000">
      8/3/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3932&amp;team=Winchester">
      <font color="#000000">
      Winchester</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      2</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3932&amp;team=Brookline">
      <font color="#000000">
      Brookline</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      14</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Amory Field</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Time Change</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/26/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8/3/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3889&amp;division=C">
      <font color="#000000">
      3889</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sat</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3889&amp;Division=C">
      <font color="#000000">
      8/3/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:45 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3889&amp;team=Brookline">
      <font color="#000000">
      Brookline</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3889&amp;team=Winchester">
      <font color="#000000">
      Winchester</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Amory - Brookline</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Date/Time Change</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/26/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8/3/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3940&amp;division=C">
      <font color="#000000">
      3940</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sun</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3940&amp;Division=C">
      <font color="#000000">
      8/4/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3940&amp;team=Newton">
      <font color="#000000">
      Newton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      15</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3940&amp;team=Winchester">
      <font color="#000000">
      Winchester</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      2</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      McDonald</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Time Change</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/29/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8/5/2013</b></font></p>
        </td>
 
        
      </tr>
      
    </tbody>
  </table>
  </center>
</div>
<font color="#008000">
<br>
<b><font face="Arial" size="1">* Please note the record is for the season</font></b></font><br>
<br>
<font color="#008000"> </font> <!--msnavigation--></td></tr><!--msnavigation--></tbody></table>