<table dir="ltr" border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><!--msnavigation--><td valign="top">
<font face="Verdana" size="2"><b><a href="#" class="close">
<font color="#008000">Back</font></a></b></font>
<p align="center"><b><font face="Arial" color="#008000" size="4">Lou Tompkins
All Star Baseball</font></b></p>
<p align="center"><b><font face="Arial" size="3" color="#008000">Schedule, Scores and&nbsp;Record for  Newton 
 &nbsp;C Division </font></b></p>

<div align="center">
  <center>
  <table width="260">
    <tbody>
      
      <tr>
        <td width="40"><font face="Arial" size="3" color="#008000"><b>Wins:&nbsp;&nbsp;</b></font></td>
        <td width="40">
          <p align="center"><font face="Arial" size="3" color="#008000"><b>
      20</b></font></p>
        </td>
        <td width="58"><font face="Arial" size="3" color="#008000"><b>Losses:&nbsp;&nbsp;</b></font></td>
        <td width="40"><font face="Arial" size="3" color="#008000"><b>
    4</b></font></td>
        <td width="42"><font face="Arial" size="3" color="#008000"><b>Ties:&nbsp;</b></font></td>
        <td width="40"><font face="Arial" size="3" color="#008000"><b>
    0</b></font></td>
      </tr>
      
    </tbody>
  </table>
  </center>
</div>

<div align="center">
  <center>
  <table width="905" border="1" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <td width="40" align="center"><b>
    <font face="Arial" size="2">ID</font></b></td>
        <td width="40" align="center"><b>
    <font face="Arial" size="2">Day</font></b></td>
        <td width="75" align="center"><b>
    <font face="Arial" size="2">Date</font></b></td>
        <td width="75" align="center"><b>
    <font face="Arial" size="2">Time</font></b></td>
        <td width="135" align="center"><b>
    <font face="Arial" size="2">Visitor</font></b></td>
        <td width="30" align="center"><b>
    <font face="Arial" size="2">Score</font></b></td>
        <td width="135" align="center"><b>
    <font face="Arial" size="2">Home</font></b></td>
        <td width="30" align="center"><b>
    <font face="Arial" size="2">Score</font></b></td>
        <td width="90" align="center"><b>
    <font face="Arial" size="2">Field</font></b></td>
        <td width="105" align="center"><b>
    <font face="Arial" size="2">Status</font></b></td>
    <td width="75" align="center"><b>
    <font face="Arial" size="2">Last Edit</font></b></td>
    <td width="75" align="center"><b>
    <font face="Arial" size="2">Score Entered</font></b></td>

    </tr>
    </thead>
    <tbody>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3816&amp;division=C">
      <font color="#000000">
      3816</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sun</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3816&amp;Division=C">
      <font color="#000000">
      6/23/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3816&amp;team=Newton">
      <font color="#000000">
      Newton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      9</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3816&amp;team=Brookline">
      <font color="#000000">
      Brookline</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Warren</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      time &amp; field change</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6/18/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6/24/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3833&amp;division=C">
      <font color="#000000">
      3833</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Tue</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3833&amp;Division=C">
      <font color="#000000">
      6/25/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8:15 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3833&amp;team=Groton">
      <font color="#000000">
      Groton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      2</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3833&amp;team=Newton">
      <font color="#000000">
      Newton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Albermarle</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      date,time,field chng</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6/21/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6/26/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3825&amp;division=C">
      <font color="#000000">
      3825</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Thu</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3825&amp;Division=C">
      <font color="#000000">
      6/27/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:45 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3825&amp;team=Newton">
      <font color="#000000">
      Newton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      12</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3825&amp;team=Parkway">
      <font color="#000000">
      Parkway</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      0</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Billings</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6/28/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3840&amp;division=C">
      <font color="#000000">
      3840</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sun</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3840&amp;Division=C">
      <font color="#000000">
      6/30/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3840&amp;team=Wakefield">
      <font color="#000000">
      Wakefield</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3840&amp;team=Newton">
      <font color="#000000">
      Newton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      0</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Newton South HS</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      time change</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6/19/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6/30/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3849&amp;division=C">
      <font color="#000000">
      3849</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Tue</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3849&amp;Division=C">
      <font color="#000000">
      7/2/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8:15 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3849&amp;team=Framingham">
      <font color="#000000">
      Framingham</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3849&amp;team=Newton">
      <font color="#000000">
      Newton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Albermarie</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      date change</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6/19/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/2/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3903&amp;division=C">
      <font color="#000000">
      3903</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Tue</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3903&amp;Division=C">
      <font color="#000000">
      7/9/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3903&amp;team=Newton">
      <font color="#000000">
      Newton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3903&amp;team=Marlboro">
      <font color="#000000">
      Marlboro</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      2</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      cooperstown ny</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      resched</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/3/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/10/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3863&amp;division=C">
      <font color="#000000">
      3863</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Thu</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3863&amp;Division=C">
      <font color="#000000">
      7/11/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8:15 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3863&amp;team=Sudbury">
      <font color="#000000">
      Sudbury</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      0</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3863&amp;team=Newton">
      <font color="#000000">
      Newton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      11</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Albermarie</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/12/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3870&amp;division=C">
      <font color="#000000">
      3870</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sat</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3870&amp;Division=C">
      <font color="#000000">
      7/13/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      4:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3870&amp;team=Melrose">
      <font color="#000000">
      Melrose</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      1</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3870&amp;team=Newton">
      <font color="#000000">
      Newton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      2</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Newton South HS</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      time change</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/11/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/14/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3872&amp;division=C">
      <font color="#000000">
      3872</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sun</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3872&amp;Division=C">
      <font color="#000000">
      7/14/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3872&amp;team=Newton">
      <font color="#000000">
      Newton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3872&amp;team=Belmont">
      <font color="#000000">
      Belmont</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Belmont HS Var</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      time change</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6/19/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/15/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3890&amp;division=C">
      <font color="#000000">
      3890</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Tue</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3890&amp;Division=C">
      <font color="#000000">
      7/16/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:45 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3890&amp;team=Newton">
      <font color="#000000">
      Newton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3890&amp;team=Cambridge">
      <font color="#000000">
      Cambridge</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      0</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      St Peters</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      resched</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/3/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/17/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3878&amp;division=C">
      <font color="#000000">
      3878</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Thu</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3878&amp;Division=C">
      <font color="#000000">
      7/18/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:45 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3878&amp;team=Newton">
      <font color="#000000">
      Newton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      1</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3878&amp;team=Groton">
      <font color="#000000">
      Groton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Town Field</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/18/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3897&amp;division=C">
      <font color="#000000">
      3897</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sun</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3897&amp;Division=C">
      <font color="#000000">
      7/21/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3897&amp;team=Newton">
      <font color="#000000">
      Newton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      16</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3897&amp;team=Wakefield">
      <font color="#000000">
      Wakefield</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Moulton Park</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      field &amp; time change</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6/19/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/22/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3807&amp;division=C">
      <font color="#000000">
      3807</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Wed</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3807&amp;Division=C">
      <font color="#000000">
      7/24/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:45 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3807&amp;team=Winchester">
      <font color="#000000">
      Winchester</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3807&amp;team=Newton">
      <font color="#000000">
      Newton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      newton south hs, NEW FIELD</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Date/Time Change</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/24/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/24/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3918&amp;division=C">
      <font color="#000000">
      3918</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Thu</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3918&amp;Division=C">
      <font color="#000000">
      7/25/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8:15 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3918&amp;team=Marlboro">
      <font color="#000000">
      Marlboro</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      2</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3918&amp;team=Newton">
      <font color="#000000">
      Newton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Albemarle</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Rainout</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/26/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/27/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3926&amp;division=C">
      <font color="#000000">
      3926</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Mon</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3926&amp;Division=C">
      <font color="#000000">
      7/29/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3926&amp;team=Newton">
      <font color="#000000">
      Newton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      0</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3926&amp;team=Melrose">
      <font color="#000000">
      Melrose</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Pine Banks turf</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      resch new/ny</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/19/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8/4/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3933&amp;division=C">
      <font color="#000000">
      3933</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Tue</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3933&amp;Division=C">
      <font color="#000000">
      7/30/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8:15 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3933&amp;team=Cambridge">
      <font color="#000000">
      Cambridge</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3933&amp;team=Newton">
      <font color="#000000">
      Newton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Albermarle</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      resched</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/3/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/30/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3909&amp;division=C">
      <font color="#000000">
      3909</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Thu</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3909&amp;Division=C">
      <font color="#000000">
      8/1/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      1:30 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3909&amp;team=Everett">
      <font color="#000000">
      Everett</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      4</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3909&amp;team=Newton">
      <font color="#000000">
      Newton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      cooperstown ny</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      resched</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/3/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8/1/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3813&amp;division=C">
      <font color="#000000">
      3813</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Fri</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3813&amp;Division=C">
      <font color="#000000">
      8/2/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3813&amp;team=Newton">
      <font color="#000000">
      Newton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      11</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3813&amp;team=Medford">
      <font color="#000000">
      Medford</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      2</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      cooperstown ny</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      newt&amp;med dist resche</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6/22/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8/3/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3852&amp;division=C">
      <font color="#000000">
      3852</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sat</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3852&amp;Division=C">
      <font color="#000000">
      8/3/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      10:00 AM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3852&amp;team=Medford">
      <font color="#000000">
      Medford</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      2</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3852&amp;team=Newton">
      <font color="#000000">
      Newton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      cooperstown ny</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      resched</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/3/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8/3/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3940&amp;division=C">
      <font color="#000000">
      3940</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sun</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3940&amp;Division=C">
      <font color="#000000">
      8/4/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3940&amp;team=Newton">
      <font color="#000000">
      Newton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      15</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3940&amp;team=Winchester">
      <font color="#000000">
      Winchester</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      2</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      McDonald</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Time Change</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/29/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8/5/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3961&amp;division=C">
      <font color="#000000">
      3961</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Tue</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3961&amp;Division=C">
      <font color="#000000">
      8/6/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:30 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3961&amp;team=Medford">
      <font color="#000000">
      Medford</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      2</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3961&amp;team=Newton">
      <font color="#000000">
      Newton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Newton South HS</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8/6/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3965&amp;division=C">
      <font color="#000000">
      3965</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Wed</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3965&amp;Division=C">
      <font color="#000000">
      8/7/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:30 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3965&amp;team=Belmont">
      <font color="#000000">
      Belmont</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3965&amp;team=Newton">
      <font color="#000000">
      Newton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      9</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Albermarle</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Game On</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8/6/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8/7/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3971&amp;division=C">
      <font color="#000000">
      3971</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sat</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3971&amp;Division=C">
      <font color="#000000">
      8/10/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      11:00 AM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3971&amp;team=Brookline">
      <font color="#000000">
      Brookline</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      4</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3971&amp;team=Newton">
      <font color="#000000">
      Newton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Belmont HS JV</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Time Change</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8/9/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8/10/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3973&amp;division=C">
      <font color="#000000">
      3973</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sun</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3973&amp;Division=C">
      <font color="#000000">
      8/11/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      9:30 AM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3973&amp;team=Belmont">
      <font color="#000000">
      Belmont</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3973&amp;team=Newton">
      <font color="#000000">
      Newton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      4</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Belmont HS Var</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8/13/2013</b></font></p>
        </td>
 
        
      </tr>
      
    </tbody>
  </table>
  </center>
</div>
<font color="#008000">
<br>
<b><font face="Arial" size="1">* Please note the record is for the season</font></b></font><br>
<br>
<font color="#008000"> </font> <!--msnavigation--></td></tr><!--msnavigation--></tbody></table>