<table dir="ltr" border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><!--msnavigation--><td valign="top">
<font face="Verdana" size="2"><b><a href="#" class='close'>
<font color="#008000">Back</font></a></b></font>
<p align="center"><b><font face="Arial" color="#008000" size="4">Lou Tompkins
All Star Baseball</font></b></p>
<p align="center"><b><font face="Arial" size="3" color="#008000">Schedule, Scores and&nbsp;Record for  Groton 
 &nbsp;C Division </font></b></p>

<div align="center">
  <center>
  <table width="260">
    <tbody>
      
      <tr>
        <td width="40"><font face="Arial" size="3" color="#008000"><b>Wins:&nbsp;&nbsp;</b></font></td>
        <td width="40">
          <p align="center"><font face="Arial" size="3" color="#008000"><b>
      7</b></font></p>
        </td>
        <td width="58"><font face="Arial" size="3" color="#008000"><b>Losses:&nbsp;&nbsp;</b></font></td>
        <td width="40"><font face="Arial" size="3" color="#008000"><b>
    13</b></font></td>
        <td width="42"><font face="Arial" size="3" color="#008000"><b>Ties:&nbsp;</b></font></td>
        <td width="40"><font face="Arial" size="3" color="#008000"><b>
    0</b></font></td>
      </tr>
      
    </tbody>
  </table>
  </center>
</div>

<div align="center">
  <center>
  <table width="905" border="1" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <td width="40" align="center"><b>
    <font face="Arial" size="2">ID</font></b></td>
        <td width="40" align="center"><b>
    <font face="Arial" size="2">Day</font></b></td>
        <td width="75" align="center"><b>
    <font face="Arial" size="2">Date</font></b></td>
        <td width="75" align="center"><b>
    <font face="Arial" size="2">Time</font></b></td>
        <td width="135" align="center"><b>
    <font face="Arial" size="2">Visitor</font></b></td>
        <td width="30" align="center"><b>
    <font face="Arial" size="2">Score</font></b></td>
        <td width="135" align="center"><b>
    <font face="Arial" size="2">Home</font></b></td>
        <td width="30" align="center"><b>
    <font face="Arial" size="2">Score</font></b></td>
        <td width="90" align="center"><b>
    <font face="Arial" size="2">Field</font></b></td>
        <td width="105" align="center"><b>
    <font face="Arial" size="2">Status</font></b></td>
    <td width="75" align="center"><b>
    <font face="Arial" size="2">Last Edit</font></b></td>
    <td width="75" align="center"><b>
    <font face="Arial" size="2">Score Entered</font></b></td>

    </tr>
    </thead>
    <tbody>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3806&amp;division=C">
      <font color="#000000">
      3806</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Thu</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3806&amp;Division=C">
      <font color="#000000">
      6/20/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3806&amp;team=Groton">
      <font color="#000000">
      Groton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      0</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3806&amp;team=Framingham">
      <font color="#000000">
      Framingham</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      11</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Long Field</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6/21/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3811&amp;division=C">
      <font color="#000000">
      3811</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sat</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3811&amp;Division=C">
      <font color="#000000">
      6/22/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3811&amp;team=Groton">
      <font color="#000000">
      Groton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      4</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3811&amp;team=Belmont">
      <font color="#000000">
      Belmont</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Belmont HS Var</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6/22/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3820&amp;division=C">
      <font color="#000000">
      3820</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sun</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3820&amp;Division=C">
      <font color="#000000">
      6/23/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3820&amp;team=Winchester">
      <font color="#000000">
      Winchester</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      4</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3820&amp;team=Groton">
      <font color="#000000">
      Groton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Town Field</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6/23/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3833&amp;division=C">
      <font color="#000000">
      3833</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Tue</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3833&amp;Division=C">
      <font color="#000000">
      6/25/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8:15 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3833&amp;team=Groton">
      <font color="#000000">
      Groton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      2</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3833&amp;team=Newton">
      <font color="#000000">
      Newton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Albermarle</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      date,time,field chng</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6/21/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6/26/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3822&amp;division=C">
      <font color="#000000">
      3822</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Thu</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3822&amp;Division=C">
      <font color="#000000">
      6/27/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:45 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3822&amp;team=Wakefield">
      <font color="#000000">
      Wakefield</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      11</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3822&amp;team=Groton">
      <font color="#000000">
      Groton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Town Field</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6/27/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3836&amp;division=C">
      <font color="#000000">
      3836</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sun</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3836&amp;Division=C">
      <font color="#000000">
      6/30/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3836&amp;team=Groton">
      <font color="#000000">
      Groton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3836&amp;team=Brookline">
      <font color="#000000">
      Brookline</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Amory Field</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6/22/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6/30/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3850&amp;division=C">
      <font color="#000000">
      3850</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sun</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3850&amp;Division=C">
      <font color="#000000">
      7/7/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3850&amp;team=Groton">
      <font color="#000000">
      Groton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3850&amp;team=Melrose">
      <font color="#000000">
      Melrose</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      9</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Pine Banks</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/9/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3843&amp;division=C">
      <font color="#000000">
      3843</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Mon</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3843&amp;Division=C">
      <font color="#000000">
      7/8/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:45 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3843&amp;team=Marlboro">
      <font color="#000000">
      Marlboro</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3843&amp;team=Groton">
      <font color="#000000">
      Groton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      1</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Town Field</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Rain out  reschedule</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/1/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/9/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3867&amp;division=C">
      <font color="#000000">
      3867</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sat</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3867&amp;Division=C">
      <font color="#000000">
      7/13/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3867&amp;team=Sudbury">
      <font color="#000000">
      Sudbury</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3867&amp;team=Groton">
      <font color="#000000">
      Groton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      4</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Town Field</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/13/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3875&amp;division=C">
      <font color="#000000">
      3875</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sun</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3875&amp;Division=C">
      <font color="#000000">
      7/14/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:45 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3875&amp;team=Groton">
      <font color="#000000">
      Groton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      2</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3875&amp;team=Marlboro">
      <font color="#000000">
      Marlboro</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      4</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      GROTON-TOWN</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      town,field,time chng</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/9/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/14/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3878&amp;division=C">
      <font color="#000000">
      3878</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Thu</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3878&amp;Division=C">
      <font color="#000000">
      7/18/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:45 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3878&amp;team=Newton">
      <font color="#000000">
      Newton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      1</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3878&amp;team=Groton">
      <font color="#000000">
      Groton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Town Field</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/18/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3885&amp;division=C">
      <font color="#000000">
      3885</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sat</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3885&amp;Division=C">
      <font color="#000000">
      7/20/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3885&amp;team=Medford">
      <font color="#000000">
      Medford</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      9</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3885&amp;team=Groton">
      <font color="#000000">
      Groton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      10</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Town Field</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/20/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3892&amp;division=C">
      <font color="#000000">
      3892</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sun</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3892&amp;Division=C">
      <font color="#000000">
      7/21/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3892&amp;team=Belmont">
      <font color="#000000">
      Belmont</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3892&amp;team=Groton">
      <font color="#000000">
      Groton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Town Field</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/21/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3857&amp;division=C">
      <font color="#000000">
      3857</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sat</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3857&amp;Division=C">
      <font color="#000000">
      7/27/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      10:00 AM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3857&amp;team=Groton">
      <font color="#000000">
      Groton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3857&amp;team=Parkway">
      <font color="#000000">
      Parkway</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      1</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Billings</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      rain, resched</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/12/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/27/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3910&amp;division=C">
      <font color="#000000">
      3910</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sat</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3910&amp;Division=C">
      <font color="#000000">
      7/27/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3910&amp;team=Cambridge">
      <font color="#000000">
      Cambridge</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      9</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3910&amp;team=Groton">
      <font color="#000000">
      Groton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Town Field</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/28/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3913&amp;division=C">
      <font color="#000000">
      3913</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sun</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3913&amp;Division=C">
      <font color="#000000">
      7/28/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3913&amp;team=Groton">
      <font color="#000000">
      Groton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3913&amp;team=Cambridge">
      <font color="#000000">
      Cambridge</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      4</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      St Peters</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/28/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3920&amp;division=C">
      <font color="#000000">
      3920</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Mon</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3920&amp;Division=C">
      <font color="#000000">
      7/29/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:45 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3920&amp;team=Everett">
      <font color="#000000">
      Everett</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      11</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3920&amp;team=Groton">
      <font color="#000000">
      Groton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      10</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Town Field</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      date&amp;time, everett N</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/12/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/29/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3899&amp;division=C">
      <font color="#000000">
      3899</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Fri</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3899&amp;Division=C">
      <font color="#000000">
      8/2/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:30 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3899&amp;team=Groton">
      <font color="#000000">
      Groton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3899&amp;team=Winchester">
      <font color="#000000">
      Winchester</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      0</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      McDonald</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Date/Time Change</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/29/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8/3/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3930&amp;division=C">
      <font color="#000000">
      3930</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sat</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3930&amp;Division=C">
      <font color="#000000">
      8/3/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3930&amp;team=Framingham">
      <font color="#000000">
      Framingham</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      11</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3930&amp;team=Groton">
      <font color="#000000">
      Groton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      2</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Town Field</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8/3/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3934&amp;division=C">
      <font color="#000000">
      3934</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sun</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3934&amp;Division=C">
      <font color="#000000">
      8/4/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3934&amp;team=Groton">
      <font color="#000000">
      Groton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3934&amp;team=Sudbury">
      <font color="#000000">
      Sudbury</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Haskell</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8/4/2013</b></font></p>
        </td>
 
        
      </tr>
      
    </tbody>
  </table>
  </center>
</div>
<font color="#008000">
<br>
<b><font face="Arial" size="1">* Please note the record is for the season</font></b></font><br>
<br>
<font color="#008000"> </font> <!--msnavigation--></td></tr><!--msnavigation--></tbody></table>