<table dir="ltr" border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><!--msnavigation--><td valign="top">
<font face="Verdana" size="2"><b><a href="#" class="close">
<font color="#008000">Back</font></a></b></font>
<p align="center"><b><font face="Arial" color="#008000" size="4">Lou Tompkins
All Star Baseball</font></b></p>
<p align="center"><b><font face="Arial" size="3" color="#008000">Schedule, Scores and&nbsp;Record for  Brookline 
 &nbsp;C Division </font></b></p>

<div align="center">
  <center>
  <table width="260">
    <tbody>
      
      <tr>
        <td width="40"><font face="Arial" size="3" color="#008000"><b>Wins:&nbsp;&nbsp;</b></font></td>
        <td width="40">
          <p align="center"><font face="Arial" size="3" color="#008000"><b>
      12</b></font></p>
        </td>
        <td width="58"><font face="Arial" size="3" color="#008000"><b>Losses:&nbsp;&nbsp;</b></font></td>
        <td width="40"><font face="Arial" size="3" color="#008000"><b>
    10</b></font></td>
        <td width="42"><font face="Arial" size="3" color="#008000"><b>Ties:&nbsp;</b></font></td>
        <td width="40"><font face="Arial" size="3" color="#008000"><b>
    1</b></font></td>
      </tr>
      
    </tbody>
  </table>
  </center>
</div>

<div align="center">
  <center>
  <table width="905" border="1" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <td width="40" align="center"><b>
    <font face="Arial" size="2">ID</font></b></td>
        <td width="40" align="center"><b>
    <font face="Arial" size="2">Day</font></b></td>
        <td width="75" align="center"><b>
    <font face="Arial" size="2">Date</font></b></td>
        <td width="75" align="center"><b>
    <font face="Arial" size="2">Time</font></b></td>
        <td width="135" align="center"><b>
    <font face="Arial" size="2">Visitor</font></b></td>
        <td width="30" align="center"><b>
    <font face="Arial" size="2">Score</font></b></td>
        <td width="135" align="center"><b>
    <font face="Arial" size="2">Home</font></b></td>
        <td width="30" align="center"><b>
    <font face="Arial" size="2">Score</font></b></td>
        <td width="90" align="center"><b>
    <font face="Arial" size="2">Field</font></b></td>
        <td width="105" align="center"><b>
    <font face="Arial" size="2">Status</font></b></td>
    <td width="75" align="center"><b>
    <font face="Arial" size="2">Last Edit</font></b></td>
    <td width="75" align="center"><b>
    <font face="Arial" size="2">Score Entered</font></b></td>

    </tr>
    </thead>
    <tbody>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3802&amp;division=C">
      <font color="#000000">
      3802</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Thu</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3802&amp;Division=C">
      <font color="#000000">
      6/20/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:45 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3802&amp;team=Brookline">
      <font color="#000000">
      Brookline</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      17</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3802&amp;team=Wakefield">
      <font color="#000000">
      Wakefield</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sullivan</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6/20/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3810&amp;division=C">
      <font color="#000000">
      3810</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sat</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3810&amp;Division=C">
      <font color="#000000">
      6/22/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3810&amp;team=Brookline">
      <font color="#000000">
      Brookline</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      2</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3810&amp;team=Sudbury">
      <font color="#000000">
      Sudbury</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      0</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Haskell</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6/22/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3816&amp;division=C">
      <font color="#000000">
      3816</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sun</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3816&amp;Division=C">
      <font color="#000000">
      6/23/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3816&amp;team=Newton">
      <font color="#000000">
      Newton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      9</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3816&amp;team=Brookline">
      <font color="#000000">
      Brookline</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Warren</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      time &amp; field change</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6/18/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6/24/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3826&amp;division=C">
      <font color="#000000">
      3826</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Thu</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3826&amp;Division=C">
      <font color="#000000">
      6/27/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:45 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3826&amp;team=Brookline">
      <font color="#000000">
      Brookline</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      12</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3826&amp;team=Medford">
      <font color="#000000">
      Medford</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      12</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Morrison</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6/30/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3830&amp;division=C">
      <font color="#000000">
      3830</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sat</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3830&amp;Division=C">
      <font color="#000000">
      6/29/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3830&amp;team=Marlboro">
      <font color="#000000">
      Marlboro</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      1</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3830&amp;team=Brookline">
      <font color="#000000">
      Brookline</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Amory Field</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6/22/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6/29/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3836&amp;division=C">
      <font color="#000000">
      3836</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sun</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3836&amp;Division=C">
      <font color="#000000">
      6/30/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3836&amp;team=Groton">
      <font color="#000000">
      Groton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3836&amp;team=Brookline">
      <font color="#000000">
      Brookline</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Amory Field</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6/22/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6/30/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3855&amp;division=C">
      <font color="#000000">
      3855</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sun</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3855&amp;Division=C">
      <font color="#000000">
      7/7/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3855&amp;team=Brookline">
      <font color="#000000">
      Brookline</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3855&amp;team=Belmont">
      <font color="#000000">
      Belmont</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      4</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Belmont HS Var</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/8/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3860&amp;division=C">
      <font color="#000000">
      3860</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Thu</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3860&amp;Division=C">
      <font color="#000000">
      7/11/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:45 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3860&amp;team=Brookline">
      <font color="#000000">
      Brookline</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      9</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3860&amp;team=Cambridge">
      <font color="#000000">
      Cambridge</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      St. Peter's</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Field Change</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/7/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/11/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3868&amp;division=C">
      <font color="#000000">
      3868</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sat</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3868&amp;Division=C">
      <font color="#000000">
      7/13/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3868&amp;team=Framingham">
      <font color="#000000">
      Framingham</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3868&amp;team=Brookline">
      <font color="#000000">
      Brookline</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      2</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Amory Field</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6/22/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/14/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3874&amp;division=C">
      <font color="#000000">
      3874</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sun</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3874&amp;Division=C">
      <font color="#000000">
      7/14/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3874&amp;team=Melrose">
      <font color="#000000">
      Melrose</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      1</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3874&amp;team=Brookline">
      <font color="#000000">
      Brookline</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      13</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Amory Field</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6/22/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/14/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3938&amp;division=C">
      <font color="#000000">
      3938</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Mon</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3938&amp;Division=C">
      <font color="#000000">
      7/15/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:45 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3938&amp;team=Everett">
      <font color="#000000">
      Everett</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      11</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3938&amp;team=Brookline">
      <font color="#000000">
      Brookline</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      1</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Amory Field</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      time change date cha</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6/22/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/15/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3881&amp;division=C">
      <font color="#000000">
      3881</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Thu</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3881&amp;Division=C">
      <font color="#000000">
      7/18/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:45 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3881&amp;team=Medford">
      <font color="#000000">
      Medford</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3881&amp;team=Brookline">
      <font color="#000000">
      Brookline</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      4</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Amory Field</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6/22/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/18/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3896&amp;division=C">
      <font color="#000000">
      3896</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sun</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3896&amp;Division=C">
      <font color="#000000">
      7/21/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3896&amp;team=Brookline">
      <font color="#000000">
      Brookline</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      16</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3896&amp;team=Sudbury">
      <font color="#000000">
      Sudbury</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      9</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Haskell</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/22/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3914&amp;division=C">
      <font color="#000000">
      3914</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sun</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3914&amp;Division=C">
      <font color="#000000">
      7/28/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3914&amp;team=Brookline">
      <font color="#000000">
      Brookline</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      2</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3914&amp;team=Framingham">
      <font color="#000000">
      Framingham</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      4</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Long Field</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/28/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3848&amp;division=C">
      <font color="#000000">
      3848</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Tue</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3848&amp;Division=C">
      <font color="#000000">
      7/30/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:45 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3848&amp;team=Brookline">
      <font color="#000000">
      Brookline</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3848&amp;team=Wakefield">
      <font color="#000000">
      Wakefield</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Walsh Field</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      rainout, resched</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/3/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/30/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3923&amp;division=C">
      <font color="#000000">
      3923</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Thu</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3923&amp;Division=C">
      <font color="#000000">
      8/1/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:30 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3923&amp;team=Brookline">
      <font color="#000000">
      Brookline</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      10</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3923&amp;team=Cambridge">
      <font color="#000000">
      Cambridge</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      St Peter's</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      field change </b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/16/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8/1/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3932&amp;division=C">
      <font color="#000000">
      3932</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sat</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3932&amp;Division=C">
      <font color="#000000">
      8/3/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3932&amp;team=Winchester">
      <font color="#000000">
      Winchester</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      2</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3932&amp;team=Brookline">
      <font color="#000000">
      Brookline</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      14</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Amory Field</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Time Change</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/26/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8/3/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3889&amp;division=C">
      <font color="#000000">
      3889</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sat</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3889&amp;Division=C">
      <font color="#000000">
      8/3/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:45 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3889&amp;team=Brookline">
      <font color="#000000">
      Brookline</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3889&amp;team=Winchester">
      <font color="#000000">
      Winchester</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Amory - Brookline</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Date/Time Change</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/26/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8/3/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3907&amp;division=C">
      <font color="#000000">
      3907</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sun</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3907&amp;Division=C">
      <font color="#000000">
      8/4/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      10:00 AM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3907&amp;team=Belmont">
      <font color="#000000">
      Belmont</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      0</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3907&amp;team=Brookline">
      <font color="#000000">
      Brookline</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      9</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Amory Field</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Date/Time Change</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/30/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8/4/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3900&amp;division=C">
      <font color="#000000">
      3900</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sun</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3900&amp;Division=C">
      <font color="#000000">
      8/4/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3900&amp;team=Parkway">
      <font color="#000000">
      Parkway</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      11</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3900&amp;team=Brookline">
      <font color="#000000">
      Brookline</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Amory Field</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Date/Time Change</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/26/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8/4/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3963&amp;division=C">
      <font color="#000000">
      3963</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Tue</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3963&amp;Division=C">
      <font color="#000000">
      8/6/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:30 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3963&amp;team=Brookline">
      <font color="#000000">
      Brookline</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3963&amp;team=Framingham">
      <font color="#000000">
      Framingham</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      2</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Bowditch </b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Game On</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8/5/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8/6/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3966&amp;division=C">
      <font color="#000000">
      3966</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Wed</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3966&amp;Division=C">
      <font color="#000000">
      8/7/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:30 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3966&amp;team=Brookline">
      <font color="#000000">
      Brookline</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      11</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3966&amp;team=Everett">
      <font color="#000000">
      Everett</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Florence</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Game On</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8/6/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8/7/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3971&amp;division=C">
      <font color="#000000">
      3971</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sat</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3971&amp;Division=C">
      <font color="#000000">
      8/10/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      11:00 AM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3971&amp;team=Brookline">
      <font color="#000000">
      Brookline</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      4</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3971&amp;team=Newton">
      <font color="#000000">
      Newton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Belmont HS JV</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Time Change</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8/9/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8/10/2013</b></font></p>
        </td>
 
        
      </tr>
      
    </tbody>
  </table>
  </center>
</div>
<font color="#008000">
<br>
<b><font face="Arial" size="1">* Please note the record is for the season</font></b></font><br>
<br>
<font color="#008000"> </font> <!--msnavigation--></td></tr><!--msnavigation--></tbody></table>