<table dir="ltr" border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><!--msnavigation--><td valign="top">
<font face="Verdana" size="2"><b><a href="#" class="close">
<font color="#008000">Back</font></a></b></font>
<p align="center"><b><font face="Arial" color="#008000" size="4">Lou Tompkins
All Star Baseball</font></b></p>
<p align="center"><b><font face="Arial" size="3" color="#008000">Schedule, Scores and&nbsp;Record for  Marlboro 
 &nbsp;C Division </font></b></p>

<div align="center">
  <center>
  <table width="260">
    <tbody>
      
      <tr>
        <td width="40"><font face="Arial" size="3" color="#008000"><b>Wins:&nbsp;&nbsp;</b></font></td>
        <td width="40">
          <p align="center"><font face="Arial" size="3" color="#008000"><b>
      13</b></font></p>
        </td>
        <td width="58"><font face="Arial" size="3" color="#008000"><b>Losses:&nbsp;&nbsp;</b></font></td>
        <td width="40"><font face="Arial" size="3" color="#008000"><b>
    10</b></font></td>
        <td width="42"><font face="Arial" size="3" color="#008000"><b>Ties:&nbsp;</b></font></td>
        <td width="40"><font face="Arial" size="3" color="#008000"><b>
    0</b></font></td>
      </tr>
      
    </tbody>
  </table>
  </center>
</div>

<div align="center">
  <center>
  <table width="905" border="1" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <td width="40" align="center"><b>
    <font face="Arial" size="2">ID</font></b></td>
        <td width="40" align="center"><b>
    <font face="Arial" size="2">Day</font></b></td>
        <td width="75" align="center"><b>
    <font face="Arial" size="2">Date</font></b></td>
        <td width="75" align="center"><b>
    <font face="Arial" size="2">Time</font></b></td>
        <td width="135" align="center"><b>
    <font face="Arial" size="2">Visitor</font></b></td>
        <td width="30" align="center"><b>
    <font face="Arial" size="2">Score</font></b></td>
        <td width="135" align="center"><b>
    <font face="Arial" size="2">Home</font></b></td>
        <td width="30" align="center"><b>
    <font face="Arial" size="2">Score</font></b></td>
        <td width="90" align="center"><b>
    <font face="Arial" size="2">Field</font></b></td>
        <td width="105" align="center"><b>
    <font face="Arial" size="2">Status</font></b></td>
    <td width="75" align="center"><b>
    <font face="Arial" size="2">Last Edit</font></b></td>
    <td width="75" align="center"><b>
    <font face="Arial" size="2">Score Entered</font></b></td>

    </tr>
    </thead>
    <tbody>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3805&amp;division=C">
      <font color="#000000">
      3805</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Fri</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3805&amp;Division=C">
      <font color="#000000">
      6/21/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:45 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3805&amp;team=Marlboro">
      <font color="#000000">
      Marlboro</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      9</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3805&amp;team=Sudbury">
      <font color="#000000">
      Sudbury</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Curtis MS</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Date/time/field chan</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6/22/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3809&amp;division=C">
      <font color="#000000">
      3809</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sat</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3809&amp;Division=C">
      <font color="#000000">
      6/22/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3809&amp;team=Marlboro">
      <font color="#000000">
      Marlboro</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3809&amp;team=Cambridge">
      <font color="#000000">
      Cambridge</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      St Peters</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6/22/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3821&amp;division=C">
      <font color="#000000">
      3821</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sun</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3821&amp;Division=C">
      <font color="#000000">
      6/23/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3821&amp;team=Marlboro">
      <font color="#000000">
      Marlboro</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3821&amp;team=Belmont">
      <font color="#000000">
      Belmont</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Belmont HS Var</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6/24/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3827&amp;division=C">
      <font color="#000000">
      3827</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Thu</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3827&amp;Division=C">
      <font color="#000000">
      6/27/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6:30 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3827&amp;team=Cambridge">
      <font color="#000000">
      Cambridge</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      13</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3827&amp;team=Marlboro">
      <font color="#000000">
      Marlboro</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      9</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Lower Stevens</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6/27/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3830&amp;division=C">
      <font color="#000000">
      3830</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sat</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3830&amp;Division=C">
      <font color="#000000">
      6/29/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3830&amp;team=Marlboro">
      <font color="#000000">
      Marlboro</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      1</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3830&amp;team=Brookline">
      <font color="#000000">
      Brookline</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Amory Field</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6/22/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6/29/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3842&amp;division=C">
      <font color="#000000">
      3842</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sun</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3842&amp;Division=C">
      <font color="#000000">
      6/30/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3842&amp;team=Marlboro">
      <font color="#000000">
      Marlboro</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3842&amp;team=Everett">
      <font color="#000000">
      Everett</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Florence St Park</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/1/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3843&amp;division=C">
      <font color="#000000">
      3843</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Mon</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3843&amp;Division=C">
      <font color="#000000">
      7/8/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:45 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3843&amp;team=Marlboro">
      <font color="#000000">
      Marlboro</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3843&amp;team=Groton">
      <font color="#000000">
      Groton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      1</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Town Field</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Rain out  reschedule</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/1/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/9/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3903&amp;division=C">
      <font color="#000000">
      3903</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Tue</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3903&amp;Division=C">
      <font color="#000000">
      7/9/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3903&amp;team=Newton">
      <font color="#000000">
      Newton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3903&amp;team=Marlboro">
      <font color="#000000">
      Marlboro</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      2</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      cooperstown ny</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      resched</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/3/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/10/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3858&amp;division=C">
      <font color="#000000">
      3858</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Thu</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3858&amp;Division=C">
      <font color="#000000">
      7/11/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:45 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3858&amp;team=Marlboro">
      <font color="#000000">
      Marlboro</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3858&amp;team=Winchester">
      <font color="#000000">
      Winchester</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      2</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      McDonald</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/11/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3864&amp;division=C">
      <font color="#000000">
      3864</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sat</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3864&amp;Division=C">
      <font color="#000000">
      7/13/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3864&amp;team=Wakefield">
      <font color="#000000">
      Wakefield</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      0</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3864&amp;team=Marlboro">
      <font color="#000000">
      Marlboro</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      18</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Lower Stevens</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Time change BB</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6/20/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/13/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3875&amp;division=C">
      <font color="#000000">
      3875</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sun</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3875&amp;Division=C">
      <font color="#000000">
      7/14/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:45 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3875&amp;team=Groton">
      <font color="#000000">
      Groton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      2</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3875&amp;team=Marlboro">
      <font color="#000000">
      Marlboro</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      4</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      GROTON-TOWN</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      town,field,time chng</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/9/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/14/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3851&amp;division=C">
      <font color="#000000">
      3851</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Tue</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3851&amp;Division=C">
      <font color="#000000">
      7/16/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:45 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3851&amp;team=Framingham">
      <font color="#000000">
      Framingham</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3851&amp;team=Marlboro">
      <font color="#000000">
      Marlboro</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      2</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Lower Stevens</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Rain out resched, fi</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/14/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/16/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3882&amp;division=C">
      <font color="#000000">
      3882</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Thu</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3882&amp;Division=C">
      <font color="#000000">
      7/18/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:45 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3882&amp;team=Winchester">
      <font color="#000000">
      Winchester</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      0</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3882&amp;team=Marlboro">
      <font color="#000000">
      Marlboro</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      2</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Lower Stevens</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      field change</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/15/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/18/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3886&amp;division=C">
      <font color="#000000">
      3886</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sat</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3886&amp;Division=C">
      <font color="#000000">
      7/20/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3886&amp;team=Everett">
      <font color="#000000">
      Everett</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3886&amp;team=Marlboro">
      <font color="#000000">
      Marlboro</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      1</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Lower Stevens</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/21/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3894&amp;division=C">
      <font color="#000000">
      3894</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sun</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3894&amp;Division=C">
      <font color="#000000">
      7/21/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3894&amp;team=Marlboro">
      <font color="#000000">
      Marlboro</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3894&amp;team=Parkway">
      <font color="#000000">
      Parkway</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Billings</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/22/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3918&amp;division=C">
      <font color="#000000">
      3918</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Thu</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3918&amp;Division=C">
      <font color="#000000">
      7/25/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8:15 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3918&amp;team=Marlboro">
      <font color="#000000">
      Marlboro</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      2</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3918&amp;team=Newton">
      <font color="#000000">
      Newton</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Albemarle</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Rainout</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/26/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/27/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3906&amp;division=C">
      <font color="#000000">
      3906</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sat</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3906&amp;Division=C">
      <font color="#000000">
      7/27/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3906&amp;team=Medford">
      <font color="#000000">
      Medford</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      12</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3906&amp;team=Marlboro">
      <font color="#000000">
      Marlboro</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      11</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Lower Stevens</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      7/27/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3925&amp;division=C">
      <font color="#000000">
      3925</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Thu</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3925&amp;Division=C">
      <font color="#000000">
      8/1/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6:30 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3925&amp;team=Sudbury">
      <font color="#000000">
      Sudbury</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3925&amp;team=Marlboro">
      <font color="#000000">
      Marlboro</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      10</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Lower Stevens</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8/2/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3927&amp;division=C">
      <font color="#000000">
      3927</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sat</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3927&amp;Division=C">
      <font color="#000000">
      8/3/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      12:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3927&amp;team=Marlboro">
      <font color="#000000">
      Marlboro</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      9</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3927&amp;team=Melrose">
      <font color="#000000">
      Melrose</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      4</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Morelli</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Time Change</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8/1/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8/3/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3936&amp;division=C">
      <font color="#000000">
      3936</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Sun</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3936&amp;Division=C">
      <font color="#000000">
      8/4/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3:00 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3936&amp;team=Belmont">
      <font color="#000000">
      Belmont</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      6</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3936&amp;team=Marlboro">
      <font color="#000000">
      Marlboro</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      3</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Lower Stevens</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8/4/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3964&amp;division=C">
      <font color="#000000">
      3964</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Tue</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3964&amp;Division=C">
      <font color="#000000">
      8/6/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:30 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3964&amp;team=Marlboro">
      <font color="#000000">
      Marlboro</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      0</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3964&amp;team=Belmont">
      <font color="#000000">
      Belmont</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Belmont HS(JV)</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Field Change</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8/5/2013</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8/6/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#FF,FF,FF">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3968&amp;division=C">
      <font color="#000000">
      3968</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Wed</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3968&amp;Division=C">
      <font color="#000000">
      8/7/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:30 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3968&amp;team=Medford">
      <font color="#000000">
      Medford</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      1</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3968&amp;team=Marlboro">
      <font color="#000000">
      Marlboro</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Lower Stevens</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8/7/2013</b></font></p>
        </td>
 
        
      </tr>
      
    <tr bgcolor="#EB,EB,EB">
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="check_game_id_hl.asp?G_ID=3969&amp;division=C">
      <font color="#000000">
      3969</font></a></b></font></p>
        </td>
        <td width="40" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Thu</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Schedules/update_schedule_form_hl.asp?G_ID=3969&amp;Division=C">
      <font color="#000000">
      8/8/2013</font></a></b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5:30 PM</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3969&amp;team=Marlboro">
      <font color="#000000">
      Marlboro</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      1</b></font></p>
        </td>
        <td width="135" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      <a href="../Pitching/check_game_id_pitch.asp?division=C&amp;G_ID=3969&amp;team=Belmont">
      <font color="#000000">
      Belmont</font></a></b></font></p>
        </td>
        <td width="30" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      5</b></font></p>
        </td>
        <td width="90" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      Belmont HS JV</b></font></p>
        </td>
        <td width="105" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      &nbsp;</b></font></p>
        </td>
        <td width="75" align="center">
          <p align="center"><font face="Arial" size="2"><b>
      8/8/2013</b></font></p>
        </td>
 
        
      </tr>
      
    </tbody>
  </table>
  </center>
</div>
<font color="#008000">
<br>
<b><font face="Arial" size="1">* Please note the record is for the season</font></b></font><br>
<br>
<font color="#008000"> </font> <!--msnavigation--></td></tr><!--msnavigation--></tbody></table>