<div id="carousel-example-generic" class="carousel fade" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="/assets/game_one.jpg" alt="">
      <div class="carousel-caption">
        <h1 style="font-size: 47px;float:left;text-shadow: 0.1em 0.1em 0.2em black;">WELCOME TO THE <br>LEAGUE OF CHAMPIONS!</h1>
      </div>
    </div>
    <div class="item">
      <img src="/assets/game_two.jpg" alt="">
      <div class="carousel-caption">
        <h1 style="font-size: 47px;float:left;text-shadow: 0.1em 0.1em 0.2em black;">WELCOME TO THE <br>LEAGUE OF CHAMPIONS!</h1>
      </div>
    </div>
    <div class="item">
      <img src="/assets/game_three.png" alt="">
      <div class="carousel-caption">
        <h1 style="font-size: 47px;float:left;text-shadow: 0.1em 0.1em 0.2em black;">WELCOME TO THE <br>LEAGUE OF CHAMPIONS!</h1>
      </div>
    </div>
    <div class="item">
      <img src="/assets/game_four.jpg" alt="">
      <div class="carousel-caption">
        <h1 style="font-size: 47px;float:left;text-shadow: 0.1em 0.1em 0.2em black;">WELCOME TO THE <br>LEAGUE OF CHAMPIONS!</h1>
      </div>
    </div>
  </div>
</div>
<br><br>
<!-- Main Table to hold sections below blog, twitter, and rest of items below carousel -->
<table>
  <tr>
    <td>

      <table style="margin-left:120px;background-color:white;max-width: 620px;border-top:0px;box-shadow: 0px 10px 20px #888;">
        <tr>
          <td><h3 style="margin-left:10px">Welcome to the Lou Tompkins All Star Baseball League</h3><br></td>
        </tr>
        <tr>
          <% if @static_pages.present? %>
            <td><h5 style="margin-left:10px">From the desk of LTA President, Joe Rushing.</h5></td>
          </tr>
          <tr>
              <td><h3 style="margin-left:10px"><%= @static_pages.title %></h3></td>
            </tr>
            <tr>
              <td><p style="margin-left:10px"><%= @static_pages.body.html_safe %></p></td>
            </tr>
            <tr>
              <td><b style="margin-left:10px">Joe Rushing, President</b></td>
            </tr>
            <tr>
              <td style="margin-left:10px">
            <br><br><%= link_to 'View More', static_pages_path %></td>
          <% end %>
        </tr>
      </table>

    </td>
    <td style="float:right;margin-right:100px">

      <table style="margin-left:20px;background-color:white;max-width: 620px;border-top:0px;box-shadow: 0px 10px 20px #888;">
        <tr>
          <td><b>The latest updates from @LTABasball</b>
        <br><br></td>
        </tr>
        <tr>
          <td style="border-bottom:1px solid"><b>06/24 1:34PM</b><br><br><img src="/assets/logo.png" style="width: 30px;position: relative;z-index: 10;"><b>@LTABaseball</b> Today's game in Concord has been postponed. It will be rescheduled for a date further into the season. Rest hard today boys, and play hard tomorrow. Good Luck!<br><br></td>
        </tr><br><tr>
          <td style="border-bottom:1px solid"><b>06/22 12:03PM</b><br><br><img src="/assets/logo.png" style="width: 30px;position: relative;z-index: 10;"><b>@LTABaseball</b> The hot game of the week, Framingham versus Winchester. This long historic rivalry has its roots back when Jordan Rushing's team beath them up in the 2000 Championship Game. Looking forward to a great game! Good Luck!<br><br></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <img src="/assets/sign_one.jpg" style="margin-top: 5%;width: 90%;margin-left: 5%;box-shadow: 0px 10px 20px #888;">
    </td>
    <td>
      <img src="/assets/sign_two.jpg" style="margin-top: 5%;width: 90%;margin-left: 5%;box-shadow: 0px 10px 20px #888;">
    </td>
  </tr>
</table>

<br />
<script language="javascript" type="text/javascript">
$('.carousel').carousel({
  interval: 10000,
  pause: false
})
</script>